{% extends 'base.html' %}{% load static %}
<!DOCTYPE html>
{% block content %}
<html lang="en">
  
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
  <section class="titulo">
    <div data-aos="fade-down-right">
      <div id="message" class="hidden">
        <div class="message-content">
          ¿Querés inscribirte en el colegio?
        </div>
        <a href="https://buenosaires.gob.ar/educacion/estudiantes/inscripcionescolar">Presiona aqui</a>
        <div class="arrow"></div>
      </div>
   </div>
  
    <div class="row justify-content-center">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="main-img" alt="colegio et36">
            <img  class="main-img" src="{% static 'polo-educativo-saavedra.png' %}" alt="">
        </div>

        <div class="main-text-container">
          <h4 class="main-img-text text-focus-in"><span class="main-img-text-span">Escuela Tecnica N°36</span><br>
            <span class="main-img-text-span2">"Almirante Guillermo Brown"</span><br>
          </h4>
          <p class="main-img-text">Es una escuela que forma técnicos/as en Computación y Maestros mayores de obra e
            integra el
            Polo Educativo Saavedra.
            Cuenta con equipamiento tecnológico como impresoras 3D y drones. Fue ganadora del 1.er premio en las
            Olimpiadas de
            Computación.</p>
        </div>

        <div class="social-links">
          <ul>
            <li><a href="https://www.instagram.com/et36de15brown/" class="instagram"><i
                  class='bx bxl-instagram'></i><span class="sr-only">Facebook</span></a></li>
            <li><a
                href="https://www.facebook.com/escuelatecnica36?paipv=0&eav=AfaytHmLUJlZHgFK7LRC8dWNvMiSBbzsvolZmHqc__z2e3Yo_vuI3AtGQo8oNoMnLoQ&_rdr"
                class="facebook"><i class='bx bxl-facebook'></i><span class="sr-only">Twitter</span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <main id="main">

    <section class="especialidades">
      <h2 class="main-title">ESPECIALIDADES DEL COLEGIO</h2>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 card-container">
          <div data-aos="fade-right">
            <div class="div-esp esp-computacion">
              <i class='bx bx-code-alt'></i>
              <h3 class="esp-title">COMPUTACIÓN : </h3>
              <p class="esp-text">
                El técnico en computación cuenta con el mayor grado de autonomía posible a la hora de enfrentar
                diferentes
                problemáticas en el futuro laboral y educativo.
                Se trabajará en fomentar la capacidad de análisis de los problemas, abstracción de los elementos
                importantes
                y descarte de los secundarios con espíritu crítico e iniciativa personal de manera que puedan
                encontrar
                las
                mejores soluciones posibles a los mismos. Tanto en problemas simulados, como en la vida cotidiana.
                Se fomentará el uso crítico de las herramientas, de manera que comprendan las ventajas y desventajas
                de
                cada
                una a la hora de utilizarlas. Se buscará homogeneizar el énfasis en que las herramientas (por ejemplo
                los
                lenguajes de programación, el uso de internet o los manuales técnicos) son variadas y no debe hacerse
                un
                uso
                exclusivo de ellas, sino más bien complementario.
                Se buscará educar en un sentido integral, enfocado en tres ejes principales:
                <br>
                ● La inserción en el mundo laboral
                <br>
                ● El desarrollo de la responsabilidad social
                <br>
                ● La inserción en la educación superior
                <br>
                Desde nuestra Escuela será fundamental trabajar en equipo a fin de generar egresados que puedan tener
                las
                capacidades necesarias adquiridas para una rápida inserción en el mundo laboral.
                A su vez, nuestra prioridad será propiciar trabajos y valores que hagan hincapié en la responsabilidad
                social que conlleva el uso y aplicación de los conocimientos adquiridos, buscando generar un egresado
                con un
                perfil solidario y proactivo en la búsqueda de soluciones ante distintas problemáticas sociales y
                ambientales.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 card-container">
          <div data-aos="fade-left">
            <div class="div-esp">
              <i class='bx bx-home-alt'></i>
              <h3 class="esp-title">CONSTRUCCIÓN : </h3>
              <p class="esp-text">
                El Maestro Mayor de Obras de la ET 36, está capacitado para manifestar conocimientos, habilidades,
                destrezas, valores y actitudes en situaciones reales de trabajo, conforme a criterios de
                profesionalidad
                propios de su área y de responsabilidad social al:
                <br>
                ● Analizar las necesidades de un cliente y elaborar el programa de necesidades.
                <br>
                ● Elaborar anteproyectos de soluciones espaciales edilicias constructivas y técnicas para un programa
                de
                necesidades determinado.
                <br>
                ● Elaborar trabajos topográficos.
                <br>
                ● Proyectar soluciones espaciales edilicias, constructivas y técnicas para un anteproyecto
                determinado.
                <br>
                ● Gestionar documentaciones técnicas.
                <br>
                ● Actualizar documentación gráfica y escrita.
                <br>
                ● Gestionar y administrar trabajos de relevamiento topográfico.
                <br>
                ● Dirigir la ejecución de procesos constructivos en general.
                <br>
                ● Planificar, gestionar y dirigir trabajos de mantenimiento de obras edilicias e instalaciones.
                <br>
                ● Gestionar y administrar la ejecución de procesos constructivos edilicios e instalaciones.
                <br>
                ● Comunicar a los responsables de acontecimientos de la planificación y la gestión.
                <br>
                ● Prestar servicios de evaluación técnica a terceros.
                <br>
                ● Asesorar técnicamente a terceros.
                Además, el título de Maestro Mayor de obras, posee habilitaciones profesionales, que surgen como aquel
                conjunto complejo de funciones profesionales que reflejan actividades que pudieren poner en riesgo de
                modo
                directo la salud, la seguridad, los derechos o los bienes de los habitantes.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>   
     <section class="materias">
      <h2 class="main-title">MATERIAS</h2>
      <div class="container">
        <div class="swiper tranding-slider top-slider">
          <div class="swiper-wrapper">
            {% for materia in materias %}
              {% include 'Materia.html' %}
            {% endfor %}
          </div>

          {% include 'Pagination.html '%}
        </div>
      </div>
      <div class="container container-construccion">
        <div class="swiper tranding-slider bottom-slider">
          <div class="swiper-wrapper">
            {% for materia in materiasConst %}
              {% include 'Materia.html' %}
            {% endfor %}
          </div>
          {% include 'Pagination.html '%}
        </div>
      </div>
    </section>

    <section class="instalaciones">
      <h2 class="main-title">NUESTRAS INSTALACIONES</h2>
      {% for instalacion in instalaciones %}
      <div class="row d-flex" style="margin: 5px 15px; height: auto;" >
        <div class="col-lg-6 col-md-6 col-sm-12">
            {% include 'Instalacion.html' %}
          </div>
        </div>
          {% endfor %}
    </section>
    <section class="proyectos">
      <h2 class="main-title">PROYECTOS</h2>
      <div id="carouselExample-proyectos1" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container text-center">
              <div class="row justify-content-center">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <div class="proyectos-container nutri-choise">
                    <h2 class="proyectos-title">Nutri Choice <i class='bx bxs-medal'></i></h2>
                    <small class="proyectos-descripcion">Nutrichoice es una aplicación que funciona escaneando el
                      código
                      de barras
                      de productos en supermercados usando un teléfono, y devuelve todos los datos nutricionales
                      incluyendo si es vegano,
                      vegetariano, o sin tacc.</small>
                    <hr>
                    <div class="video-container">
                      <iframe width="80%" height="480" src="https://www.youtube.com/embed/DvDOYWYVcow"
                        title="Nutri Choice - Video de Presentacion de Proyecto ET36" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container text-center">
              <div class="row justify-content-center">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <div class="proyectos-container nutri-choise">
                    <h2 class="proyectos-title">One Click Mouse</i></h2>
                    <small class="proyectos-descripcion">El gyromouse funciona por medio de un giroscopio que toma la
                      rotación de la cabeza,
                      y esta con ayuda de una librería, ubica el cursor en los ejes x e y.
                      Con ayuda de un micrófono tomamos los decibelios y dependiendo de la intensidad de estos, se
                      realiza click izquierdo o derecho.</small>
                    <hr>
                    <div class="video-container">
                      <iframe width="80%" height="480" src="https://www.youtube.com/embed/yjtzx-GRhmU"
                        title="OneClickMouse 2022" frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
                      encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container text-center">
              <div class="row justify-content-center">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <div class="proyectos-container nutri-choise">
                    <h2 class="proyectos-title">GyroMouse</i></h2>
                    <small class="proyectos-descripcion">Nutrichoice es una aplicación que funciona escaneando el
                      código
                      de barras
                      de productos en supermercados usando un teléfono, y devuelve todos los datos nutricionales
                      incluyendo si es vegano,
                      vegetariano, o sin tacc.</small>
                    <hr>
                    <div class="video-container">
                      <iframe width="80%" height="480" src="https://www.youtube.com/embed/lKyxwCDfDpE"
                        title="GyroMouse 2022" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container text-center">
              <div class="row justify-content-center">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <div class="proyectos-container nutri-choise">
                    <h2 class="proyectos-title">AquaTech</i></h2>
                    <small class="proyectos-descripcion">Recolectan el agua de lluvia, la filtran y la almacenan para
                      su
                      futuro uso.
                      Fueron ideados para el Polo Educativo Saavedra,
                      y servirían para el regado y la limpieza del mismo, para así reducir el consumo de agua
                      potable.</small>
                    <hr>
                    <div class="video-container">
                      <iframe width="80%" height="480" src="https://www.youtube.com/embed/phs4b6lJVsA"
                        title="Proyecto AquaTech" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
                      gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample-proyectos1"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample-proyectos1"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>
    <button class="message-bubble" id="message-bubble">
      <img style="width: 100px;" src="{% static 'zyro-image.png.png' %}" alt="">
    </button>
    <div class="chatbot-container" id="chatbotContainer">
      <!-- Contenido del chatbot -->
      <main class="mainMessages">
        <div class="messages">
          <div class="msg">
            {% for mensaje in mensajes %}
              {% if mensaje.response %}
                <p style="color:black;" class="response">{{mensaje.content}}<span>{{ mensaje.created_at | date:"H:i" }}</span></p>
              {% else %}
                <p style="color:black;" class="question">{{mensaje.content}}<span>{{ mensaje.created_at | date:"H:i" }}</span></p>
              {% endif %}
            {% endfor %}
            {% if mensajes %}
              <form action="{% url 'deleteChat' %}" class="delete">
                <button><i class='bx bx-trash'></i></button>
              </form>
            {% endif %}
          </div>
          <form action="{% url 'ask' %}" class="formMessage" id="formMessage"method="POST">
            {% csrf_token %}
              <input required type="text" name="message" class="input" placeholder="Escribe tu mensaje..." required>
              <button class="sendMessage" onclick="sendMessage(event)">
                <i class='bx bx-search'></i>
              </button>
          </form>
        </div>
      </main>
    </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous">
        </script>
      <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
      <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
      <script src="{% static 'app.js' %}"></script>
      <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
      <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
      <script>
        const messageBubble = document.getElementById('message-bubble');
        const chatbotContainer = document.getElementById('chatbotContainer');
        let isOpen = false;
        
        messageBubble.addEventListener('click', function(event) {
          if (isOpen) {
            chatbotContainer.style.display = 'none';
            isOpen = false;
          } else {
            chatbotContainer.style.display = 'block';
            isOpen = true;
          }
        });
        


        AOS.init();      
      </script>
      <style>
        .chatbot-container {
          position: fixed;
          bottom: 100px;
          right: 20px;
          width: 400px;
          height: 500px;
          background-color: white;
          border-radius: 10px;
          display: none;
          z-index: 9999;
          overflow: hidden;
          border: 1px solid black;
        }
        
        .mainMessages {
          height: calc(100% - 40px); /* Resta el espacio del input */
          overflow-y: auto;
        }
        
        .formMessage {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          padding: 10px;
          background-color: rgba(211, 210, 210, 0.589);
        }
        
        .formMessage input[type="text"] {
          width: calc(100% - 40px); /* Resta el espacio del botón */
          padding: 5px;
          border: none;
          outline: none;
        }
        
        .formMessage .sendMessage {
          width: 30px;
          height: 30px;
          border: none;
          background-color: transparent;
          cursor: pointer;
        }
        
        .formMessage .sendMessage i {
          font-size: 15px;
        }
        
        .msg {
          align-self: center;
          justify-self: center;
          width: auto;
          flex-direction: column;
          padding: 10px;
          display: flex;
        }
        
        .msg .question,
        .msg .response {
          height: auto;
          border-radius: 15px;
          color: white;
          display: flex;
          flex-direction: column;
          padding: 10px;
          background-color: rgb(218, 123, 123);
          width: auto;
        }
        
        .msg .response {
          align-self: flex-start;
          background-color: rgb(130, 226, 130);
        }
        
        .msg .question {
          align-self: flex-end;
        }
        
        .msg .response span,
        .msg .question span {
          font-size: 12px;
        }
        
        .delete {
          display: flex;
          justify-content: flex-end;
          padding: 5px 0;
        }
        
        .delete button {
          border: none;
          background-color: transparent;
        }
        
        .delete button i {
          font-size: 15px;
        }
        
        
      </style>
      <script src="{% static 'chat.js' %}"></script>
      <script src="{% static 'app.js' %}"></script>
      {% endblock content %}
</body>
</html>